:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
/* Start Flex items */
.d-block{
    display: block;
}
.d-flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
.f-wrap{
    flex-wrap: wrap;
}
/* End Flex Items */
/* Start Grid Items */
.d-grid{
    display: grid;
}
.gap-20{
    gap: 20px;
}
/* End Grid Items */
/* start padding & margin */
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.p-15{
    padding: 15px;
}
.pb-15{
    padding-bottom: 15px;
}
.pb-10{
    padding-bottom: 10px;
} 
.pt-15{
    padding-top: 15px;
}
.pt-20{
    padding-top: 20px;
}
.pt-10{
    padding-top: 10px;
}
.pb-20{
    padding-bottom: 20px;
}
.pl-15{
    padding-left: 15px;
}
.m-20{
    margin: 20px;
}
.m-15{
    margin: 15px;
}
.mt-0{
    margin-top: 0;
}
.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mt-25{
    margin-top: 25px;
}
.m-0{
    margin: 0;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-0{
    margin-bottom: 0;
}
.mr-10{
    margin-right: 10px;
}
.mr-15{
    margin-right: 15px;
}
/* end padding & magin */
/* start colors section */
.bg-white{
    background-color: white;
}
.bg-eee{
    background-color: #eee;
}
.bg-blue{
    background-color: #0075ff;
}
.bg-orange{
    background-color: var(--orange-color);
}
.bg-green{
    background-color: var(--green-color);
}
.bg-red{
    background-color: var(--red-color);
}
.c-black{
    color: black;
}
.c-gray{
    color: gray;
}
.c-white{
    color: white;
}
.c-red {
    color: var(--red-color);
}
.c-green {
    color: var(--green-color);
}
.c-blue {
    color: var(--blue-color);
}
.c-orange {
    color: var(--orange-color);
}
/* start colors section */
/* start position */
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}
/* end position */
/* start font */
.txt-center{
    text-align: center;
}
.fs-14{
    font-size: 14px;
}
.fs-15{
    font-size: 15px;
}
.fs-13{
    font-size: 13px;
}
.fs-25{
    font-size: 25px;
}
.fw-bold{
    font-weight: bold;
}
/* end font */
/* start border */
.rad-6{
    border-radius: 6px;
}
.rad-10{
    border-radius: 10px;
}
.rad-half{
    border-radius: 50%;
}
.b-none{
    border: none;
}
.b-ccc{
    border: 1px solid #ccc;
}
.b-eee{
    border: 1px solid #eee;
}
/* end border */
/* start sizing */
.w-full {
    width: 100%;
}
.w-fit{
    width: fit-content;
}
.w-100{
    width: 100px;
}
.h-full{
    height: 100%;
}
.h-100{
    height: 100px;
}

/* End sizing */
/* Start Components */
.between-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center-flex{
    display: flex;
    justify-content: center;
    align-items: center;  
}
.btn-shape{
    padding: 4px 10px;
    border-radius: 6px;
}
/* End Components */
/* Start Media Query */
@media (max-width: 767px) {
    .block-mobil {
        display: block;
    }
    .hide-mobile {
        display: none;
    }
}
@media (max-width: 767px) {
    .txt-c-mobile {
        text-align: center;
    }
}
/* End Media Query */